.add_folder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  padding: 0 1rem;
}

.add_folder:hover {
  background-color: var(--hover-1);
}