.add_folder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  padding: 0 1rem;
}

.add_folder:hover{
  background-color: var(--hover-1);
}


@media (pointer: coarse) {
  .add_folder {
    transition: background 500ms;
  }

  .add_folder:hover {
    background: transparent;
  }
  
  .add_folder:active {
    background-color: var(--hover-1);
  }

}