.user {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 0 2rem 2.3125rem;
  margin-bottom: 2rem;
  gap: 1rem;
}

.user button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: bold;
}

.user button:hover {
  text-decoration: underline;
}

.user > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 8rem;
  height: 6rem;
  position: absolute;
  top: 4rem;
  border: 1px solid #c4c4c457;
  border-radius: 13px;
  background-color: #fff;
}

.user > div > button {
  margin: 0.75rem 0.75rem 0 auto;
}

.option {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.option > button, .option > a {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 2rem;
  font-weight: 500;
  padding-inline: 1rem;
}

.option > button:hover, .option > a:hover {
  background-color: #eeeeee;
  text-decoration: none;
}

.option a {
  text-decoration: none;
  color: #000;
}
