.file_edit form button {
  position: absolute;
  top: 3rem; right: 3rem;
  z-index: -1;
}

.not_found {
  width: calc(100vw - 15rem);
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not_found > span:first-child {
  font-size: 6rem;
  letter-spacing: 1rem;
  font-weight: 800;
}

