:root {
  --black: #000;
  --white: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.rotate-90deg {
  transform: rotate(90deg);
}

html,
body {
  min-height: 100%;
}

.full-height {
  height: 100vh;
  height: 100dvh;
}

.flex {
  display: flex;
}

.spinner {
  animation: spinner 1s linear infinite;
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger {
  display: none;
  transition: translate 500ms;
}

.hamburger_click {
  translate: -10rem;
}

@keyframes spinner {
  to {
    transform: rotateZ(360deg);
  }
}

@media screen and (max-width: 800px) {
  .hamburger {
    display: block;
    position: fixed;
    top: 1.75rem;
    left: 12rem;
    z-index: 10;
    height: 30px;
    border: none;
    background-color: transparent;
  }

  .flex {
    display: block;
  }
}

