.folder {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2rem;
  padding: 0 1rem;
}

.folder > div:first-child {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.folder > div > span {
  padding-left: 5px;
  width: 9rem;
  height: 1.35rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.folder:hover {
  background-color: var(--hover-1);
}

.folder:hover img {
  visibility: visible;
}

.add_file_delete_folder img {
  visibility: hidden;
}

.add_file_delete_folder {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (pointer: coarse) {
  .folder:hover{
    background-color: transparent;
  }

  .add_file_delete_folder img {
    visibility: visible;
  }
}